.background-me{
  width: auto;
  height: 100vh;
  background-image: url('./Images/IMG_7503.jpeg');
  background-repeat: no-repeat;
  background-position-x: center;
}

.my-skills {
  width: 370px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 269px 269px 0 0;
}

img {
  width: 50px;
  height: 50px;
}

.skills-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  width: 300px;
  margin: 16px;
}

h1 {
  font-family: Moserrat;
  font-size: 42px;
}

p {
  margin: 16px;
}
